website/index.html
website/css/main.css
website/js/main.js
website/cache
website/wp-config.php
website/wp-content/gallery/
website/wp-content/
website/.htaccess
sources/styles/node_modules
sources/javascript/components
sources/javascript/build/build.js
.DS_Store
resources/.DS_Store
deploy.yml
stage.yml
