body
  header
    div.wrapper
      background: rgba(1, 1, 1, 0.5);
      padding-top: 30px;
      margin-top: 50px; 
      height: 285px
      div.container
        background: rgba(255, 255, 255, 0.9); 
        padding: 0; 
        margin:0;
        border-top: 10px solid #088A4B
        height: 130px
        div.els-centrales
          margin-top: 10px
          float: left
        nav
          float: right;
          padding-right: 10%;
          padding-top: 18px
          div.menu-smr-menu-container
            ul
              a
                text-decoration:none;
                color: #666;
                transition: all 200ms ease-out; 
                &:hover
                  text-decoration:none;
                  color: #088A4B;
                  opacity: 0.5;
              list-style: none; 
              color: #666;
              margin: 0;
              padding: 0;
              li
                color: #666; 
                font-family: 'Monda', sans-serif;
                font-weight: 300;
                font-size: 15px; 
                list-style: none; 
                text-align: left; 
                text-decoration:none;
                height: 24px
                &:before
                  content: " / ";
                  color: #088A4B;
                a
                  text-transform: uppercase

        h1
          padding-right: 10px;
          padding-left: 10%;
          margin: 0;
          float: left;
          a
            img
              margin-top: 7px

