header
  .wrapper
    background: $negro-opacidad5
    padding-top: 30px
    margin-top: 50px
    .container
      background: $blanco-opacidad
      padding: 0 
      margin:0
      border-top: 10px solid $verde-hover
      .site-header
        padding-right: 10px
        padding-left: 10%
        margin: 0
        float: left
      .els-centrales
        float:left
        h3
          color: $azul-fuente
          font-family: $titulos-font
          font-size: 25px
          font-weight: 700
          margin: 0
          padding-top: 35px
          letter-spacing: -1px
        h4
          color: $gris-fuente
          margin: -7px 0 0 0
          font-family: $titulos-font
          font-size: 25px
          line-height: 40px
          letter-spacing: -1px
          font-weight: 300
      &:after
        content: ""
        clear: both
        width: 100%
        display: block

  nav 
    float: right
    padding-right: 10%
    padding-top: 25px
    ul
      list-style: none
      color: $gris-fuente
      margin: 0
      padding: 0
      li
        color: $gris-fuente
        font-family: $titulos-font
        font-weight: 300
        font-size: 15px
        list-style: none
        text-align: left
        text-decoration:none
        &:before
          content: " / "
          color: $verde-hover
        a
          text-decoration:none
          color: $gris-fuente
          -webkit-transition: all 200ms ease-out
          &:hover
            text-decoration:none
            color: $verde-hover
            opacity: 0.5
    .presionado
      background: $verde-hover
      color: $blanco-fuente
      display: inline-block
      width: 80px
      padding-left: 5px
      &:hover
        background: $verde-hover
        color: $blanco-fuente
        opacity: 1