#primary
  .wrapper
    border-top: solid 100px $negro-opacidad5
    hr
      min-width: 1020px
      height: 20px
      background: $verde-hover
      width: 80%
      margin: -80px auto 0
      border: 0
    &:after
        content: ""
        clear: both
        width: 100%
    
    article
      width: 80%
      min-width: 1020px
      margin: 20px auto 30px
      padding: 0
      background: $blanco-opacidad
      position: relative
      h1
        background: $negro-opacidad7
        color: $blanco-fuente
        font-family: $titulos-font
        font-size: 20px
        font-weight: 300
        margin: 0
        padding: 10px 0 0 70px
        height: 40px
        &:before
            content: " / "
      
      .contenido
        font-family: $textos-font
        color: $gris-fuente
        padding: 10px 70px 20px 70px
        margin: 0 
        text-align: justify
        font-size: 15px
        line-height: 20px
        position: relative

      .texto-servicio
        a
          font-family: $titulos-font
          color: $verde-hover
          text-decoration: none
          font-size: 15px
          line-height: 18px
          margin: 0
          padding-top: 25px
          padding-left: 5px
          float: left
          width: 30%
          &:visited
            color: $verde-hover
          &:hover
            font-weight: 700
            
      .titulo-serv
        font-family: $titulos-font
        font-weight: 700
        color: $verde-hover
        font-size: 15px
        line-height: 18px
        margin: 0
        padding-top: 25px
                
      .contenedor-galerias
        position: absolute
        width: 250px
        height: 200px
        float: left
        background: $gris-oscuro
        overflow: hidden
        top: 140px
        left: 36%
        
      .descripciones
        position: relative
        padding: 20px 0px 20px 20px
        float: right
        display: block
        width: 40%
        text-align: left
        strong
          font-size: 15px
          line-height: 18px
          margin: 0
          font-family: $titulos-font
          color: $verde-strong
          position: relative
          text-decoration: none
          &:before
            content: " > "
            color: $verde-hover
            position: absolute
            left: -10px
            top: 2px
          &:hover
            font-weight: 700
            color: $verde-hover
        .desplegables
          float: none
        
      .smr-servicios
        border-top: 1px dotted $verde-hover
        display: inline-block
        padding: 20px 0 0 0
        margin-top: 20px
        width: 100%
        text-align: center
        ul
          list-style: none
          li
            color: $gris-fuente
            text-align: left
            text-decoration: none
            display: inline-block
            width: 200px
            a
              font-family: $titulos-font
              color: $gris-fuente
              text-decoration: none
              font-size: 13px
              line-height: 15px
              margin: 0
              padding: 0
              height: 50px
              &:visited
                color: $gris-fuente

      .servicios-restantes 
        display: none
        position: absolute
        bottom: 50px
        left: 70px
        .menu-item
          height: 100px
          overflow: hidden
          p
            font-family: $titulos-font
            color: $gris-fuente
            font-size: 11px
            line-height: 13px
            margin: 22px 10px;
            width: 100px;
            float: right
          a
            .img-container
              height: 80px
              width: 80px
              display: inline-block
              border-radius: 40px
              border: 5px solid #828282
              overflow: hidden
              img
                margin: -5px 0 0 -5px;
                height: 80px
                width: 80px
          
      .contacto
        width: 39%
        float: left
         
      .mapa
        width: 50%
        height: 250px
        float: left 
        background: $gris-fuente
        
      .clientes  
        width: 45%
        float: left
        margin-right: 25px
        text-align: left
        height: 100px
        .logo-cliente
          height: 70px
          width: 70px
          float: left
          margin-right: 0px
          overflow: hidden
          img
            width: 100%
            height: auto
        .bloque-clientes
          width: 80%
          float: right
          .titulo-clientes
            a
              font-family: $titulos-font
              font-weight: 700
              color: $verde-hover
              font-size: 15px
              line-height: 18px
              margin: 0
              &:hover
                font-weight: 700
              &:visited
                color: $verde-hover
      .clientes-individual  
        float: right
        width: 57%
        position: relative
        .album-lightbox
          position: absolute
          left: -410px
          top: 25px

.descripciones .servicios
  strong
    cursor: pointer
  div.contenido-servicios
    transition: opacity 1s
    display: none
    opacity: 0
    .content-slider.album-lightbox.ngg-albumoverview
      position: absolute
      top: 10px
      left: -280px

.logo-servicio
  width: 110px
  height: 110px
  float: left
  a
    .img-container
      border-radius: 55px
      border: 7px solid $verde-hover
      width: 100px
      height: 100px
      overflow: hidden
      img
        margin: -7px 0 0 -7px;
        width: 93px
        height: 93px

#menu-servicios
  text-align: center
  border-top: 1px dotted $verde-hover
  padding-top: 25px
  padding-bottom: 40px
  .menu-item
    width: 260px
    display: inline-block
    vertical-align: top
    margin: 0px 10px
    p
      font-family: $titulos-font
      color: $gris-fuente
      font-size: 15px
      line-height: 17px
      text-transform: uppercase
      margin: 26px 10px 26px 0px;
      width: 140px;
      float: right
      text-align: left
    .logo-servicio
      a
        .img-container
          border: 7px solid $gris-fuente

h2
  text-transform: uppercase

body.page-template-pagina2-php
  article
    min-height: 500px

body.page-template-pagina-php
  article
    min-height: 400px

div.descripciones .servicios:first-child .contenido-servicios
  //opacity: 1
  //display: block

.contenido .content-servicio
  width: 40%
  display: inline-block
  p
    display: none
    transition: opacity 1s
    opacity: 0

.contenido
  div.wpcf7
    width: 75%
    margin: 50px auto 0px
    border: 2px solid grey
    padding: 20px
    border-radius: 20px
    background-color: rgba(0, 0, 0, 0.04);
    textarea
      height: 170px
    input[type="submit"]
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%) repeat scroll 0 0 $verde-hover

.contenido-padre
  transition: opacity 1s
