#primary
  .wrapper
    border-top: solid 100px $negro-opacidad5
    hr
      height: 20px
      background: $verde-hover
      width: 80%
      margin: -80px auto 0
      border: 0
    &:after
        content: ""
        clear: both
        width: 100%
    
    article
      width: 80%
      margin: 20px auto 30px
      padding: 0
      background: $blanco-opacidad
      h1
        background: $negro-opacidad7
        color: $blanco-fuente
        font-family: $titulos-font
        font-size: 20px
        font-weight: 300
        margin: 0
        padding: 10px 0 0 70px
        height: 40px
        &:before
            content: " / "
      
      .contenido
        font-family: $textos-font
        color: $gris-fuente
        padding: 10px 70px 20px 70px
        margin: 0 
        text-align: justify
        font-size: 15px
        line-height: 20px
        position: relative

      .texto-servicio
        a
          font-family: $titulos-font
          color: $verde-hover
          text-decoration: none
          font-size: 15px
          line-height: 18px
          margin: 0
          padding-top: 25px
          padding-left: 5px
          float: left
          width: 30%
          &:visited
            color: $verde-hover
          &:hover
            font-weight: 700
            
      .titulo-serv
        font-family: $titulos-font
        font-weight: 700
        color: $verde-hover
        font-size: 15px
        line-height: 18px
        margin: 0
        padding-top: 25px
                
      .contenedor-galerias
        position: absolute
        width: 250px
        height: 200px
        float: left
        background: $gris-oscuro
        overflow: hidden
        top: 140px
        left: 36%
        
      .descripciones
        padding: 20px 0px 0 20px
        float: right
        display: block
        width: 40%
        text-align: left
        a
          font-size: 15px
          line-height: 18px
          margin: 0
          font-family: $titulos-font
          color: $verde-hover
          text-decoration: none
          &:before
            //content: " > "
            color: $verde-hover
          &:hover
            font-weight: 700
        .desplegables
          float: none
        
      .smr-servicios
        border-top: 1px dotted $verde-hover
        display: inline-block
        padding: 20px 0 0 0
        margin-top: 20px
        width: 100%
        text-align: center
        ul
          list-style: none
          li
            color: $gris-fuente
            text-align: left
            text-decoration: none
            display: inline-block
            width: 200px
            a
              font-family: $titulos-font
              color: $gris-fuente
              text-decoration: none
              font-size: 13px
              line-height: 15px
              margin: 0
              padding: 0
              height: 50px
              &:visited
                color: $gris-fuente

      .servicios-restantes 
        width: 35%
        float: left
        a
          font-family: $titulos-font
          color: $gris-fuente
          font-size: 11px
          line-height: 13px
          width: 20%
          height: 100px
          padding-top: 35px
          padding: 10px 10px 0 0
          display: inline-block
          
      .contacto
        width: 50%
        float: left
         
      .mapa
        width: 50%
        height: 250px
        float: left 
        background: $gris-fuente
        
      .clientes  
        width: 45%
        float: left
        margin-right: 25px
        text-align: left
        height: 100px
        .logo-cliente
          height: 70px
          width: 70px
          background: $gris-fuente
          float: left
          margin-right: 10px
          img
            width: 100%
            height: 100%
        .titulo-clientes
          a
            font-family: $titulos-font
            font-weight: 700
            color: $verde-hover
            font-size: 15px
            line-height: 18px
            margin: 0
            &:hover
              font-weight: 700
            &:visited
              color: $verde-hover
      .clientes-individual  
        float: left
        width: 100%
        .galeria-cliente
          height: 250px
          width: 400px
          background: $gris-fuente
          float: left
          margin: 25px 25px 0 0

.descripciones .servicios
  strong
    cursor: pointer
  div.contenido-servicios
    display: none
