.content-gallery
  width: 600px
  height: 300px
  margin: 0px auto !important
  div
    transition: left 1s
    div
      max-width: 600px
      height: 300px
      float: left
      a
        width: 100%
        height: 100%
        img
          width: auto
          height: 100%

.album-lightbox
  &.ngg-albumoverview
    height: 220px
    width: 270px
    border: 10px solid $gris-oscuro
  &.my-slider
    margin: 0px
  div
    height: 100%
    transition: left 1s
    .smr-album
      width: 250px
      height: 200px
      .ngg-album-link
        position: relative
        a
          width: 100%
          height: 100%
          overflow: hidden
          img
            width: 100%
            height: auto

          span
            position: absolute
            bottom: 0px
            left: 0px
            margin: 0px
            font-weight: bold
            color: white
            background-color: $gris-oscuro
            width: 100%
            padding-top: 5px

.the-content-slider
  .slider-navigator
    background-color: $gris-oscuro
    height: 0px
    color: white
    overflow: hidden
    transition: height 0.5s
    > div
      width: 25%
      float: left
      text-align: center
      font-size: 28px
      line-height: 24px
      height: 30px
      cursor: pointer
      &:hover
        background-color: black
      &.sl-stop
        font-size: 20px
  &:hover
    .slider-navigator
      height: 30px

.clientes-individual  
  .album-lightbox
    &.ngg-albumoverview
      width: 385px
      height: 310px
      border: 10px solid $gris-oscuro
    .smr-album
      width: 365px
      height: 290px
