/* colors */
$gris-fuente = #666
$gris-oscuro = #333
$verde-hover = #088A4B
$verde-strong = #165622
$blanco-fuente = #fff
$azul-fuente = #0B243B
$negro-opacidad5 = rgba(1, 1, 1, 0.5)
$negro-opacidad7 = rgba(1, 1, 1, 0.7)
$blanco-opacidad = rgba(255, 255, 255, 0.9)


$font_white = #feffff
$font_grey = #7f7f7f
