/*
Theme Name: SMR
Theme URI: http://metalurgica-smr.com.ar
Description: theme para metalurgica-smr
Author: suarez,melo,suarez 
Author URI: http://xifox.net
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: metalurgica-smr
*/


@import 'sources/styles/node_modules/nib'
@import 'sources/styles/deps/clean.styl'

/* commons */
@import 'sources/styles/commons/colors.styl'
@import 'sources/styles/commons/fonts.styl'
@import 'sources/styles/commons/base.styl'
@import 'sources/styles/commons/buttons.styl'
@import 'sources/styles/commons/functions.styl'

/* areas */
@import 'sources/styles/areas/frontpage.styl'
@import 'sources/styles/areas/layout.styl'
@import 'sources/styles/areas/header.styl'
@import 'sources/styles/areas/primary.styl'
@import 'sources/styles/areas/footer.styl'
@import 'sources/styles/areas/gallery.styl'
@import 'sources/styles/areas/slideshow.styl'

/* Component */
@import 'sources/javascript/build/build.styl'

body 
  *
    box-sizing: border-box
  background: url(images/fondo.jpg) no-repeat center top
  background-size: cover
  h3
    text-transform: uppercase
    color: #0B243B;
    font-family: 'Monda', sans-serif;
    font-size: 20px; 
    font-weight: 700;
    margin: 0; 
    padding-top: 25px; 
    letter-spacing: -1px;

  h4
    text-transform: uppercase
    color: #666; 
    font-family: 'Monda', sans-serif;
    font-size: 20px;
    letter-spacing: -1px;

